.RTop1{
    background-image: url("https://scopeindia.org/images/snowpark-home-slider-bottom-gradient.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}
.RTop1>h1{
    margin-top: 30px;
    color:darkgoldenrod;
}
.RTop1>form{
    border-style: solid;
    border-color: blue;
    background-color: blanchedalmond;
    width:80%;
   
    border-width: 5px;
    padding: 40px;

}
#A{
    width:87.5%;
    margin-left:45px;
    height:35px;
}
#b{
    width:87.5%;
    margin-left:45px;
    height:35px; 
}
#g3{
    display: inline-flex;
    gap:25px;
    margin-left: 45px;
    justify-content: center;
}
#g3>div>input{
    width:300px;
    height:35px;
}