.PTop1{
    background-color: rgb(6, 32, 41);
    width:100%;
    padding-left:50px;
    height:500px;
}
.PTop1>:nth-child(1){
    width:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.PTop1>:nth-child(1)>h1{
    color:darkgoldenrod;
    font-size: 65px;
}
.PTop1>:nth-child(1)>p{
    color:darkgoldenrod;
    display: block;
    font-size: 20px;
}


.PTop1{
    display: inline-flex;
    gap:250px;
}
.PTop2>h1{
    color:darkgoldenrod;
    margin-left: 30%;
}
.PTop2>div{
    display: inline-flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
