.STop1{
    display: inline-flex;
    height: 100%;
    width: 100%;
    gap:20px;
}
.w{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.STop1>:nth-child(1)>:nth-child(1){
    padding-top: 15px;
   
}
.STop1>:nth-child(2){
    width:100%;
}
.STop1>:nth-child(1)>div{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.STop1>div>div>p{
    padding: 0;
}
hr{
    padding: 0;
}
.Image_div{
    display:flex ;
    flex-direction: row;
    gap: 100px;
}
.Image_div>div{
    display: inline-flex;
    gap:90px;
}
.Image_div>div>div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Tag{
    
    height:50px;
    background-color: rgb(215, 221, 222);
    color: black;
}

.Reg_course{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:30px;
    flex-wrap: wrap;
}
.Reg_course>div{
    width: 200px;
    height:40px;
    background-color: blue;
    color: white;
}

.SSTop1{
    padding: 50px;
    padding-top: 0;
    height: 200px;
  
    
}
.cards1{
    display: inline-flex;
    gap:10px;
    flex-wrap: wrap;
    margin-left: 20px;
    width:1200px;
}

.cc{
    padding-left: 50px;
}
#CB{
  margin-left: 17%;
}